/* Define colors */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --background-color: #f9f9f9;
  }
  
  /* Apply colors to elements */
  body {
    color: var(--text-color);
    background-color: palegoldenrod;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: var(--primary-color);
    padding: 10px 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-menu {
    list-style-type: none;
    display: flex;
  }
  
  .nav-menu li {
    margin-right: 20px;
  }
  
  .nav-menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Responsive navigation */
  .menu-toggle {
    display: none; /* Hide by default */
    color: #fff;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: block; /* Display for small screens */
    }
  
    .nav-menu {
      display: none; /* Hide menu items */
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--primary-color);
      padding: 20px;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  
    .nav-menu.active {
      display: flex; /* Display when menu is toggled */
    }
  
    .nav-menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  /* Form styles */
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #27ae60;
  }
  p {
    text-indent: 50px;
  }
  p {
    word-spacing: 60px;
  }
  
  p {
    word-spacing: 6px;
  }